h1 {
	font-family: 'Arial';
	color: #FF0A2B;
}

.School_eq {
	font-family: "Arial";
	font-size: 14;
}

.lang_prog {
	font-family: "Arial";
}

.comp_acces {
	font-family: "Arial";
}

.my_hobbies {
	font-family: "Arial";
}

.Neural_net {
	font-family: "Arial";
}

.plans_future {
	font-family: "Arial";
}

#plan_future1 {
	font-family: "Arial";
}

#plan_future2 {
	font-family: "Arial";
}

#plan_future3 {
	font-family: "Arial";
}

#table_blog {
	font-family: "Arial";
}

